decommissionedCommands.txt
decommisionedCommands.py
cogs/__pycache__
cogs/.DS_Store
.DS_Store
/venv
.env
cogs/NSFW
cogs/NSFW/BunnySuits
cogs/NSFW/Gangbangs
cogs/NSFW/Spreading
cogs/NSFW/BoobJobs
cogs/NSFW/Hentai
cogs/NSFW/Ahegao
cogs/NSFW/Ubanis
cogs/NSFW/Booty
cogs/NSFW/Boobs
cogs/NSFW/Traps
cogs/NSFW/Nekos
cogs/NSFW/Anal
